pre.example {
  padding: 1em;
  white-space: pre;
}

div.tcl {
  color: #000066;
  background: #DDEEFF;
  font-size: smaller;
  border: 2px ridge;
  padding: 1em;
  width: 90%;
}

div.programmer {
  color: #006600;
  background: #EEFFDD;
  font-size: smaller;
  padding: 1em;
  width: 90%;
  border: 2px ridge;
  margin: 0 0 1em 0;
}
